* {
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 50px;
}

body {
    margin: 200px; 
    font-size: 20px;
}

h1 {
    /* font-size: 80px; */
    font-size: 3rem;
}

h2 {
    /* font-size: 30px; */
    font-size: 2rem;
}

h3 {
    /* font-size: 16px; */
    font-size: 1rem;
}

button {
    border: 0.1em solid;
    padding: 1em;
    font-size: 1.5rem;
}