<h1> These are all the teams! </h1>
<% @data.each do |team| %>
    <h2><%= team[:team] %></h2>
    <h3><%= team[:premierships] %></h3>
<% end %>

er-tab
<%  %>
this one runs the ruby inside

p-tab
<%=  %>
this one prints, and is good for displaying values