* {
    margin: 0;
    padding: 0;
}

.grid-container {
    padding: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 200px;
    grid-gap: 5px;
}

.item {
    background-color: green;
    /* height: 100px;
    width: 100px; */
}