* {
    margin: 0;
    padding: 0;
}

body {
    /* background-color: aquamarine; */
}

.first {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: brown;
    height: 200px;
    width: 100%;
}

.inner {
    background-color: aquamarine;
    height: 150px;
    width: 150px;
}

.second {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: blue;
    height: 100vh;
    width: 30px;
}

.third {
    /* position: static; */
    background-color: blueviolet;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 30px;
    left: 30px;
    z-index: 3;
}

.fourth {
    position: relative;
    background-color: black;
    height: 1000px;
    width: 300px;
}

.fifth {
    height: 80px;
    width: 80px;
    background-color: blanchedalmond;
    position: absolute;
    bottom: 20px;
    right: 20px;
    z-index: 2;
}

.relative {
    position: relative;
    top: 50px;
    left: 50px;
    z-index: 1;
}